{% extends 'base.html' %}
{% load static %}

{% block title %}{{ room_name_json }}{% endblock %}


{% block chat %}

    <div class="chat">

        <div id="chat-log" class="infinite-container">
            <div id="new_message"></div>
            {% for m in messages %}
                <div class="infinite-item">
                    {% include "chat/message.html" with message=m.message avatarka=m.avatar_url author=m.author time=m.date %}
                </div>
            {% endfor %}
        </div>

        <div class="loading">
            Loading...
        </div>

        {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{ page_obj.next_page_number }}">More</a>
        {% endif %}

    </div>

    <div class="input">
        <div class="input__attach btn"></div>
        <input id="chat-message-input" type="text" value="" placeholder="Введите сообщение"/>
        <div id="chat-message-submit" class="input__send btn"></div>
    </div>

{% endblock %}


{% block javascript %}
    <script src="{% static 'chat/js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'chat/js/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'chat/js/infinite.min.js' %}"></script>
    <script src="{% static 'chat/js/moment.js' %}"></script>
    <script>
        var roomName = {{ room_name_json }};
        var chatSocket = new WebSocket(
            'ws://' + window.location.host +
            '/ws/chat/' + roomName + '/');

        chatSocket.onmessage = function (e) {
            var data = JSON.parse(e.data);
            var message = data['message'];
            var author = data['author'];
            var date = moment(data['date']).format('Do MMMM YYYY HH:mm');
            var avatar_url = data['avatar_url'];
            console.log(data);

            var newdiv = document.createElement("div");

            newdiv.innerHTML = `{% include "chat/message.html" with message='${message}' avatarka='${avatar_url}'  author='${author}' time='${date}' %}`;
            var parent = document.getElementById("new_message");
            parent.insertBefore(newdiv, parent.firstChild);
        };

        chatSocket.onclose = function (e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function (e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function (e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));

            messageInputDom.value = '';
        };
    </script>

    <script>
        var infinite = new Waypoint.Infinite({
            element: $('.infinite-container')[0],
            context: $('.chat'),
            onBeforePageLoad: function () {
                $('.loading').show();
            },
            onAfterPageLoad: function ($items) {
                $('.loading').hide();
            }
        });
    </script>

{% endblock %}
